body {
  font-family: Helvetica;
}

.textEntryList {
  margin: 20px 40px;
  width: 600px;
}

.sortingButton {
  width: 120px;
  margin: 10px;
}

.dropdown {
  margin: 40px 0px 0px 40px;
}


.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  word-wrap: break-word;
}

li:nth-child(even) { 
  background-color: #dddddd;
}